<input placeholder="your todo" [(ngModel)]="todo">

<button (click)="addTodo(todo)" [disabled]="!todo"  *ngIf="!editing">Add todo</button>
<button (click)="addTodoExtended(todo)" [disabled]="!todo"  *ngIf="!editing">Add todo extended</button>

<button
  (click)="updateTodo(todo)"
  *ngIf="editing">
    Update
</button>
<button
  (click)="cancelEdit()"
  *ngIf="editing">
    Cancel
</button>


<ul>
  <li *ngFor="let todo of todos$ | async; let i = index;"
      (click)="selectedItem(todo, i)"
  >

    <span [class.done]="todo.done"></span>

    <div *ngIf="todo.category === 'USER'">
        Value : {{  todo.value}} <br>
    </div>

    <div *ngIf="todo.category === 'COMPUTER'">
        Value : {{  todo.valueExt}} <br>
    </div>



    <button (click)="editTodo(todo, i)">Edit</button>
    <button (click)="toggleDone(todo, i)">Toggle Done</button>
    <button (click)="deleteTodo(i)">X</button>
  </li>
</ul>

{{ selectedTodo$ | async | json }}